@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

.Form {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    font-family: Workbench;
}
body{
    background-color: black;
    margin:  50px;
}