@tailwind components;

@layer components {
  .CreateComment {
    @apply relative bottom-0 mt-5 flex rounded-lg p-2 text-blanchedalmond shadow-custom-shadow;
    background-image: linear-gradient(
      to right top,
      #f97c16,
      #d25a2c,
      #a54031,
      #742c2e,
      #441c22,
      #2f161b,
      #1c0e11,
      #1b1b1b,
      #1b1b1b,
      #1b1b1b,
      #000000,
      #000000
    );
  }

  .CreateComment-header {
    @apply flex w-[90%] justify-between gap-3;
  }

  .CreateComment .TextArea {
    @apply h-14;
  }

  .CreateComment-header > label {
    @apply text-2xl;
  }

  .CreateComment i {
    @apply relative cursor-pointer rounded-lg text-2xl text-[var(--first-color)];
    transition: 0.35s ease-in;
  }

  .CreateComment i:hover {
    @apply text-blanchedalmond;
  }

  .IconComment {
    @apply flex w-full justify-end;
  }

  .fa-comments {
    @apply mr-4 justify-end text-lg text-blanchedalmond;
  }

  .fa-comments:hover {
    color: whitesmoke;
  }
}
