.TruckLoad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.TruckLoadListDiv {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.DataTitle {
  margin: 0px;
}

.TruckLoadForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 0px;
}

.TruckLoadSelectWaste {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.WeightWeek {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.WeekYearDiv {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 5px;
  max-height: 73;
  padding: 0.2rem;
  border: thistle solid 0.5px;
  border-radius: 5px;
  background: white;
  color: darkgrey;
}
