.vehiclesSelectedDiv {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.vehiclesSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  text-align: center;
  font-size: 28px;
}
.vehiclesSelected:focus {
  border: none;
}
.vehiclesSelected:active {
  border: none;
}

Select {
  border: 0px;
}
