.confirm-delete-dialog {
	display: flex;
	flex-direction: column;
	border: none;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	position: fixed;
	box-sizing: border-box;
	background-color: var(--dark);
	color: var(--primary3);
	padding: 20px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
