@tailwind components;

@layer components{

    .ActitvitiesListTitle{
        margin-top: 5%;
    }
    .ActivitiesList {
        width: 95%;
        overflow-x: auto;
    }
    .ActivitiesList {
        height: auto;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin: 10%  0;
        width: 95%;
        overflow-x: auto;
    }
    
    .Activity{
        padding: 3px;
        display:flex;
        justify-content: space-around;
        border-bottom: solid 1px black;
    }

    
    .Activity:last-child{
        border-bottom: none
    }
    

}