.Article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.Article .AuthorTitle {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0;
  padding: 0;

}

.Article p {
  color: black;
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.Article .PostTitle {
  margin: 0;
  padding: 0.5rem;
  font-size: 2rem;
  color: whitesmoke;
  width: 100%;
  border-bottom: 2px solid white;
}

.Article .PostText {
  margin: 0;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.Article time {
  font-size: 1.7rem;
  color: black;
}

.Article .DeleteButton {
  width: fit-content;
  margin-top: 1rem;
}

.DivImage {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.Image {
  max-width: 100%;
  height: auto;
}