* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-draw {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 10px;
  height: 100vh;
  padding: 20px;
}

/* PIG */
.pig {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  z-index: -1;
}

.pig-head {
  width: 130px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(255, 160, 176);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.75) -10px 20px 20px 0px;
}

.pig-ear {
  position: absolute;
  border: 7px solid #f7949a;
  background-color: #ffb7bc;
  width: 60px;
  height: 60px;
  top: -5px;
  z-index: -1;
}

.ear-left {
  border-radius: 15px 0 0 0;
  left: 10px;
  transform: rotate(-12deg) skewY(27deg);
}

.ear-right {
  border-radius: 0 15px 0 0;
  right: 10px;
  transform: rotate(12deg) skewY(-27deg);
}

.pig-eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
  top: 8px;
}

.pig-eye {
  width: 30px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pig-eye-dot {
  border: 3px solid black;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
}

.pig-noise {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(252, 210, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pig-noise-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(194, 120, 132);
  position: relative;
  bottom: 5px;
}

.pig-smooth {
  border: 2px solid rgb(221, 73, 35);
  width: 20px;
  height: 15px;
  border-radius: 25px;
  background-color: rgb(252, 210, 216);

}

/*Tree */
.tree {
  background-color: rgb(191, 201, 235);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.tree-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;

}


.tree-branches {
  position: relative;
  height: 0;
  border-left: 6vw solid transparent;
  border-right: 7vw solid transparent;
  border-bottom: 16vw solid green;
  position: absolute;
  bottom: 1.5vw;
}

.tree-branch {
  position: absolute;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 1vw solid transparent;
  border-bottom: 5vw solid green;
  top: 12vw;
  left: 5.4vw;
  transform: rotate(101deg);
}

.tree-branch-right-1 {
  position: absolute;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 5vw solid transparent;
  border-bottom: 6vw solid green;
  top: 6vw;
  left: 0vw;
  transform: rotate(-1deg);
}

.tree-branch-right-2 {
  position: absolute;
  height: 0;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-bottom: 6vw solid green;
  top: -0.9vw;
  left: -2.8vw;
  transform: rotate(122deg);

}

.tree-branch-rigth-3 {
  position: absolute;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 5vw solid transparent;
  border-bottom: 6vw solid green;
  top: 2vw;
  left: -2vw;
  transform: rotate(0deg);
}

.tree-branch-left-1 {
  position: absolute;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 1vw solid transparent;
  border-bottom: 5vw solid green;
  top: 13.03vw;
  left: -7.8vw;
  transform: rotate(239deg);
}

.tree-branch-left-2 {
  position: absolute;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 5vw solid transparent;
  border-bottom: 6vw solid green;
  top: 8vw;
  left: -7vw;
  transform: rotate(130deg);
}

.tree-branch-left-3 {
  position: absolute;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 5vw solid transparent;
  border-bottom: 6vw solid green;
  top: 4vw;
  left: -5vw;
  transform: rotate(130deg);
}

.tree-trunk {
  border: 2px solid black;
  width: 4vw;
  height: 3vw;
  background-color: saddlebrown;
  border-bottom: none;
}


.tree-ground {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  background-color: rgb(25, 95, 22);
}


/*GameBoy */
.gameboy {
  border: 1px solid black
}

.puppy {
  border: 1px solid black
}

.car {
  border: 1px solid black
}


.building {
  border: 1px solid black;


}