@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        @apply m-0 p-0 box-border
    }
}

@layer components {
    .burger-menu {
        @apply flex flex-col
    }
}

@layer components {
    .burger-bar {
        @apply w-12 m-1 h-1 bg-seventh rounded-lg
    }
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/*    clicked    */

.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.50em, 0.75em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(130deg) translate(-0.4em, 0.6em);
    transition: ease-out 0.5s;
}

/*    unClicked    */

.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

/* menu */

.menu {
    top: 10em;
    width: 60%;
    height: 300px;
    background-color: var(--first-color);
    position: absolute;
    top: 0;
    z-index: -1;
    top: 5em;
    border-radius: 0px 0px 40px 0px;
    z-index: 2;
    left: 0;
}

.menu>div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
}

.menu>div>div {
    margin: 0.5em 0;
    color: white;
    cursor: pointer;
    font-size: 25px;
}