.RegisterForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.RegisterForm>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.RegisterForm>form>button {
  padding: 0.1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  width: 10rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.RegisterForm>form>button:hover {
  background-color: slateblue;
}

.RegisterForm>a {
  color: black;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.RegisterForm>a:hover {
  color: slateblue
}