.Footer {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: .5rem 0;
    background-color: rgba(175, 222, 238, 0.603);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* .Footer .Button {
    background-color: transparent;
    border-radius: 20px 0;
    width: 60px;
    padding: 0px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.25s ease-in;
    font-size: 25px;
    font-weight: 800;
} */