<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="LoginForm.css">
    <link rel="stylesheet" href="../core/Field.css">
    <link rel="stylesheet" href="../core/Button.css">
</head>
<body>
    <script src="../Component.js"></script>
    <script src="../core/Heading.js"></script>
    <script src="../core/Input.js"></script>
    <script src="../core/Label.js"></script>
    <script src="../core/Field.js"></script>
    <script src="../core/Form.js"></script>
    <script src="LoginForm.js"></script>
    <script src="../core/Link.js"></script>
    <script src="../core/Button.js"></script>
    <script src="index copy.js"></script>
</body>
</html>