.Nav {
  display: flex;
  max-width: 800px;
  margin: 0.5rem auto 0 auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: linear-gradient(white, transparent);
}

.logout {
  position: fixed;
  top: 3rem;
  right: 3rem;
  background: none;
  border: none;
  font-size: 2rem; /* Ajusta el tamaño del emoticono según sea necesario */
  cursor: pointer;
  z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
}

.logo {
  display: flex;
  margin: 0.5rem auto 0 auto;
  justify-content: center;
  width: 100%;
}

.sessionStatus {
  display: flex;
  justify-content: center;
  line-height: 0;
  align-items: center;
}

.MenuButtons {
  display: flex;
  margin: 1rem auto 1rem auto;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  font-size: small;
  list-style-type: none;
}
.menu-link-center {
  padding: 0.5rem;
  background: green;
  border: darkgreen 1px solid;
  text-decoration: none;
  color: white;
}
.menu-link-start {
  padding: 0.5rem;
  background: green;
  border: darkgreen 1px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-decoration: none;
  color: white;
}
.menu-link-end {
  padding: 0.5rem;
  background: green;
  border: darkgreen 1px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-decoration: none;
  color: white;
}

.menu-link-start:hover,
.menu-link-center:hover,
.menu-link-end:hover {
  background: lightgreen;
  border: greenyellow 1px solid;
  color: black;
}
