@tailwind components;

@layer components {
  .Login {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .Register {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .Profile {
    @apply inline-flex;
  }
}
