.SubmitButton {
  color: white;
  background: tomato;
  border: grey solid 2px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.SubmitButton:hover {
  background: orangered;
  border: red solid 2px;
}
