.View {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 2rem;
}

.Header {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: right;
    position: fixed;
    top: 0;
    padding: .5rem;
    box-sizing: border-box;
    border-bottom: 1px solid var(--first-color);
    background-color: var(--second-color);
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

}

.Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    gap: 3rem;

}

.Article {
    border: 5px solid black;
    background-color: rgb(15, 86, 148);
    opacity: 60%;
}

.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: .5rem 0;
    border-top: 1px solid var(--first-color);
    background-color: var(--second-color);
}