.Container-Panel {
    position: absolute;
    margin-top: -800px;
}

.TagGame {
    background-color: var(--first-color);
    width: 350px;
    margin: auto;
    border-radius: 10px;
    z-index: 1;
    padding: 10px;
}

.Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.InputCreate {
    align-items: center;
    width: 300px;
    text-align: center;
    height: 30px;
    padding: 20px;
    margin: 15px;
    font-size: 18px;
}

.Button-game {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    background-color: aliceblue;
    border: 2px solid beige;
    text-align: center;
    margin: 20px;
}