@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: black;
  --second-color: white;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: rgb(243, 203, 147);
  font-family: Arial, Helvetica, sans-serif;
}
