@tailwind components;

@layer components {
  .Field {
    @apply relative flex items-center;
  }

  .EyeIcon {
    @apply absolute right-0 top-0 bottom-4 flex items-center pr-3 cursor-pointer text-gray-500 hover:text-gray-700;
  }

}

/* TODO */