.Form {
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    border: black 10px double;
    border-radius: 10%;
}