.RegisterForm {
    padding: 1rem;
    background-color: aqua;
}

.RegisterForm .Input,
.Button {
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid var(--first-color);
}

.RegisterForm .Feedback {
    color: blue;

}