.MenuStoreDiv {
  position: fixed;
  bottom: 0;
}

.MenuStore {
    display: flex;
    justify-content: center;
    font-size: small;
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;
  }
  .menu-store-center {
    padding: 0.5rem;
    background: green;
    border: darkgreen 1px solid;
    text-decoration: none;
    color: white;
  }
  .menu-store-start {
    padding: 0.5rem;
    background: green;
    border: darkgreen 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
    color: white;
  }
  .menu-store-end {
    padding: 0.5rem;
    background: green;
    border: darkgreen 1px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    color: white;
  }
  
  .menu-store-start:hover,
  .menu-store-center:hover,
  .menu-store-end:hover {
    background: lightgreen;
    border: greenyellow 1px solid;
    color: black;
  }
  