.pig-head {
    width: 200px;
    height: 200px;
    
}

.pig-face{
    border-radius: 50%;
    background-color: pink;
    width: 100%;
    height: 100%;
    position: relative;
    top: -45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pig-eyes{
    margin-top: 20px;
    display: flex;
    gap: 20px
}

.pig-eye {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.pig-pupil{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.pig-ears{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.pig-ear{
    height: 40px;
    width: 40px;
    background-color: pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pig-ear-into{
    height: 30px;
    width: 30px;
    background-color: palevioletred;
    border-radius: 50%;

}

.pig-noses{
    display: flex;
    justify-content: center;
    align-items: center;

}

.nose-border{
    display: flex;
    height: 40px;
    width: 60px;
    border: 1px solid LightPink;
    background-color: palevioletred;
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pig-nose{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 3px solid LightPink;
}

.pig-mouth{
    display: flex;
    justify-content: center;
    align-items: center;

}

.pig-lips{
    height: 40px;
    width: 80px;
    border-radius: 50%;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pig-tooth{
    height: 25px;
    width: 65px;
    border-radius: 50%;
    background-color: white;
}


.game-boy {
    position: relative;
    width: 200px;
    height: 350px;
    background-color: aliceblue;
    border: 5px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.screen {
    width: 160px;
    height: 120px;
    background-color: #B0B0B0;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.screen-into{
    width: 100px;
    height: 120px;
    background-color: dimgray;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 12px;
    color: aliceblue;
    width: 20px;
    height: 20px;
    background-color: dimgray;
    position: absolute;
    margin-bottom: 100px;
    bottom: 20px;
    border: 2px solid #B0B0B0;
    border-radius: 50%;
    text-align: center; 
    line-height: 20px;
}

.button-a {
    right: 20px;
}

.button-b {
    right: 50px;
}

.cross {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 130px;
    left: 20px;
}

.cross div {
    width: 20px;
    height: 20px;
    margin-top: 50px;
    background-color: Grey;
    position: absolute;
    border: 2px solid #B0B0B0;
    border-radius: 50%;
}

.cross div:nth-child(1) {
    top: 0;
    left: 20px;
}

.cross div:nth-child(2) {
    top: 20px;
    left: 0;
}

.cross div:nth-child(3) {
    top: 20px;
    left: 40px;
}

.cross div:nth-child(4) {
    top: 40px;
    left: 20px;
}

.buttons-botton {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.button-L,
.button-R {
    font-size: 12px;
    color: aliceblue;
    width: 20px;
    height: 10px;
    background-color: Grey;
    border: 2px solid #B0B0B0;
    border-radius: 50%;
    margin: 20px;
    text-align: center;
    line-height: 20px;
}

.button-L {
    margin-right: 50px;
}

.button-R {
    margin-left: 50px;
}

.dog-head {
    width: 200px;
    height: 200px;
    
}

.dog-face{
    margin-top: -25px;
    border-radius: 50%;
    background-color: tan;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;

}

.dog-ears{
display: flex;
justify-content: space-between; 
}

.dog-ear{
    display: flex;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 0;
    border-bottom: 50px solid sienna;
    border-radius:30%;
}

.dog-ear-d {
    transform: rotate(-30deg);
}

.dog-ear-i {
    transform: rotate(30deg);
}

.dog-eyes{
    display: flex;
}

.dog-eye{
    margin-top: 20px;
    border-radius: 50%;
    width: 25px;
    height: 35px;
    background-color: black;
    margin-right: 15px;
    margin-left: 15px;
    z-index: 2; 
}

.dog-stain{

    width: 70px;
    height: 90px;
    background-color: sienna;
    border-radius: 50%;
    z-index: 1;
}

.dog-nose{
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 0;
    border-bottom: 30px solid black;
    border-radius:50%;
    transform: rotate(180deg);
}

.dog-mouth{
    width: 90px;
    height: 30%;
    background-color: black;
    border-radius:50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}