@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
.View {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    font-family: Workbench;
    font-size: 350%;
}
h2{
    text-align: center;
    font-family: Workbench;
    font-size: 250%;
}
.Input,
.Button {
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid var(--first-color);
}
