.Header {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: right;
    position: fixed;
    top: 0;
    padding: .5rem;
    box-sizing: border-box;
    background-color: var(--second-color);
}