.View {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 2rem;
}

.Header {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between; /* Cambiado a space-between para separar los elementos */
  position: fixed;
  top: 0;
  padding: .5rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--first-color);
  background-color: var(--second-color);
}

.AppTitle {
  display: flex; 
  justify-content: flex-start; 
  flex-grow: 1; 
  margin-left: 30px ;
}

.usernameTitle {
  justify-self: flex-end; 
  align-items: center;
margin-top: 30px ;
}

.LogoutButton {
  border: 0 !important;
  text-decoration: underline;
  justify-self: flex-end; 
  align-items: center;
  margin-right: 30px ;
}


article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

.Post {
  width: 100%; 
  max-width: 600px; 
  margin-bottom: 1rem;
}

.Delete {
  border: 0 !important;
}


.Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: .5rem 0;
  border-top: 1px solid var(--first-color);
  background-color: var(--second-color);
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding-top: 4rem;

  padding-bottom: 4rem;

}


.Image {
  width: 100%;

  max-width: 55%;

}


.Author {
  text-decoration: underline;
}

.Header .HeaderSC {
  margin-right: 505px;
}