@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --first-color: #18171C;
  --second-color: #FEFFFA;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Raleway;
  color: var(--first-color);
  background-color: var(--second-color);
  margin: 2rem;
}

Button {
  border-radius: 10%;
  margin: 1rem;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: grey;
  margin-top: .5rem;
  padding: .5rem;
}

.Logo{
  width: 150px;
  height: auto;
}