@tailwind components;
@tailwind utilities;

@layer components {

  .Button {
    @apply relative min-w-[4rem] z-0 text-base text-white m-0 p-2 outline-none border-none bg-custom-orange overflow-hidden transition-colors duration-400 ease-in-out rounded-md shadow-custom-shadow;

  }


  .Button:hover {
    @apply cursor-pointer text-black;
  }

  .Button::before {
    @apply content-[""] -z-10 absolute top-[50%] left-[50%] w-2 h-2 rounded-lg bg-orange-400 origin-center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }

  .Button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }

}