.ShowPasswordFieldIcon {
  position: relative;
  cursor: pointer;
  bottom: 25px;
  left: 115px;
  color: white;
}

.ShowPasswordField {
  margin-bottom: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}