.Confirm {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.900);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  color: whitesmoke;
  width: auto;
}

.Confirm p {
  font-family: "Jersey 10";
  font-size: 2rem;
  color: whitesmoke;
  letter-spacing: 0.2rem;
}

.Confirm button {
  margin: 1rem;
  width: 8rem;
}