@tailwind components;

@layer components {
  .Header {
    @apply fixed mb-5 flex h-32 w-full flex-col justify-center gap-2 bg-custom-gradient p-1 text-center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .IconUser {
    @apply text-[5rem];
  }
  .Title {
    @apply relative flex w-full flex-col items-center;
  }
  .Title p {
    @apply text-xl;
  }

  .IconExit {
    @apply absolute right-2 top-2 flex cursor-pointer text-7xl;
  }

  .IconAddCustomer {
    @apply absolute left-2 top-2 z-10 flex cursor-pointer text-7xl;
  }
}
