.ConfirmDelete { 
    @apply border border-black rounded-[20px] top-[30%] left-[10%] w-[80%] h-[30%] gap-[16px] fixed flex flex-col items-center justify-center z-10  bg-[rgb(175,222,238)];
    /* border: 1px solid black;
    border-radius: 20px;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 30%;
    position: fixed;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    gap: 16px; 
    text-align: center; 
    z-index: 10;
    background-color: rgb(175, 222, 238); */
}

.ConfirmDeleteButtonContainer {
    display: flex; /* Usa flexbox para organizar los botones horizontalmente */
    gap: 8px; /* Espacio entre los botones */
}
.ConfirmDeleteButton {
    margin: 0 8px; /* Espacio horizontal entre los botones */
}