.FieldPassword {
    display: flex;
    flex-direction: column;
    margin: .7rem 0;
}

.divInputPassword{
    width: 12rem;
    background-color: whitesmoke;
    border: 0 transparent;
    border-radius: .3rem;
    display: flex;
    align-items: center;
}

.lock{
    color: var(--color3);   
   }

.input{
    color: var(--color3);
}   




