.CreatePostForm {
    width: 20rem;
    position: fixed;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #13abb0;
    margin-bottom: 3rem;
}

.SubmitButton {
    align-self: center;

}

.CancelButton {
    align-self: center;
    margin: 1rem;
}