.Article {
    border: 1px solid black;
    background-color: rgba(237, 240, 242, 0.554);
    padding: 1rem;
}

.Article .DeleteButton {
    margin-left: 1rem;

}

.Article .DivImage {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;

}

.Article .DivImage img {
    width: 80%;

}