.Confirm {
    padding: .4rem;
    background-color: var(--second-color);
    font-size: 1rem;
    border: 1px solid var(--first-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
}