* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	background-color: var(--darkest);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.container {
	display: block;
	width: 350px;
	background-color: var(--dark);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
	text-align: center;
	margin-bottom: 20px;
	color: var(--primary3);
}

.registerForm {
	display: flex;
	flex-direction: column;
}

.field {
	margin-bottom: 15px;
}

.field label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	color: var(--primary3);
}

.input {
	width: 100%;
	padding: 8px;
	border: none;
	border-radius: 4px;
	background-color: var(--secondary);
	color: var(--primary3);
	outline: none;
}

.submitButton {
	width: 100%;
	padding: 10px;
	background-color: var(--secondary);
	color: var(--primary3);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
	transition: background-color 0.5s;
}

.submitButton:hover {
	background-color: var(--primary2);
}

.submitButton.shake {
	background-color: #d75656;
	animation: shake 0.3s;
}

.link {
	display: block;
	text-align: center;
	margin-top: 15px;
	color: var(--primary3);
	text-decoration: none;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

@keyframes shake {

	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-5px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(5px);
	}
}

.warn {
	margin-top: 10px;
	margin-left: 3px;
	color: #d75656;
	text-align: center;
}

.success {
	margin-top: 10px;
	margin-left: 3px;
	color: #56d77d;
	text-align: center;
}
