.CreatePostForm {
    position: fixed;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 191, 0, 0.573);
    height: 100vh;
    z-index: 80;

}