.Post {
    width: 50rem;
    height: auto;
    background-color: aliceblue;
    border: 1px solid orange;
    margin: 2rem;
    border-radius: 4%;

}

.PostTitle {
    display: flex;
    justify-content: left;
    font-size: 3rem;
    margin-top: 0%;
    margin-left: 3rem;
}


.PostImage {
    display: flex;
    justify-content: center;
    border-radius: 5%;
}

.AuthorTitle {
    display: inline-block;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-left: auto;
    border: 1px outset orange;
    padding: 1rem;
    margin-left: 40rem;
    border-radius: 50%;
    font-size: 1.3rem;


}

.PostDescription {
    margin: 2rem;
    border: 1px dotted orange;
    margin-top: 3px;
    height: auto;

}

.DescriptionTitle {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid orange;
}

.DeleteButton {
    display: inline-block;
    justify-content: flex-end;
    margin-left: 25rem;
    margin-bottom: 2rem;
    color: red;
    border: 1px solid red;
    cursor: pointer;
}