.Post {
    position: relative;
    width: 50rem;
    height: auto;
    background-color: aliceblue;
    border: 1px solid orange;
    margin: 2rem;
    border-radius: 4%;
    padding-top: 3rem;

}

.PostTitle {
    display: flex;
    justify-content: left;
    font-size: 3rem;
    margin-left: 3rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}


.PostImage {
    display: flex;
    justify-content: center;
    border-radius: 5%;
}




.DescriptionTitle {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid orange;
}

.DeleteButton {
    display: flex;
    justify-content: center;
    margin-left: 40rem;
    margin-bottom: 3rem;
    color: rgb(232, 7, 7);
    background-color: rgba(243, 90, 90, 0.199);
    border: 1px solid red;
    cursor: pointer;
    border-radius: 12%;

}