@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

:root {
  --first-color: rgba(255, 255, 255, 0.915);
  --second-color: black;
}

* {
  font-family: Workbench;
  color: var(--first-color);
}

body {
  background-color: var(--second-color);
  margin: 0;
}