
.pig{
    display: flex;
    position: absolute;
}
.head-pig{
    border: 1px solid rgb(207, 107, 124);
    height: 100px;
    width: 100px;
    background-color: pink;
    border-radius: 50%;
}
.ears-pig{   
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 15px solid rgb(222, 136, 151);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-bottom: -10px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
.ears-pig:nth-child(1){
    rotate:-35deg;
    margin-top: 4px;
    margin-left: 10px;
}
.ears-pig:nth-child(2){
    rotate:35deg;
    margin-top: 4px;
    margin-left: 70px;
}
.eyes-pig{
    margin: 15px auto 10px;
    height: 15px;
    width: 80px;
    display: flex;
    justify-content: space-around;
}
.eye-pig{
    height: 18px;
    width: 15px;
    border-radius: 45%;
    background-color: black;
    padding: 3px;
}
.pupiles-pig{
    margin-left: 1px;
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
.nose-pig{
    border: 2px solid rgb(207, 107, 124);
    height: 24px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(222, 136, 151);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.noseHoles-pig{
    background-color: rgb(77, 30, 37);
    height: 13px;
    width: 9px;
    border-radius: 45%;
}
.mofletes-pig{
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: -12px;
}
.moflete-pig{
    
    background-color: rgba(242, 145, 161, 0.62);
    width: 15px;
    height: 10px;
    border-radius: 50%;
}
.mouth-pig{
    border-radius: 0 0 70% 50%;
    border-bottom: 6px solid rgb(222, 136, 151) ;
    width: 45px;
    height: 25px;
    margin: -13px 0 0 30px;
    transform: rotate(-7deg);
}
.tail-group-pig{
    margin: 35px 0 0 -14px;
    display: flex;
    z-index: -2;
    transform: rotate(-15deg);

}
.tail-pig:nth-child(1){
    height: 20px;
    width: 40px;
    border-bottom: 2px solid rgb(222, 136, 151);
    border-radius: 50%;
}
.tail-pig:nth-child(2){
    height: 7px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid rgb(222, 136, 151);
    margin: 8.5px -19px 0 -20px;
}
.tail-pig:nth-child(3){
    height: 20px;
    width: 30px;
    border-bottom: 2px solid rgb(222, 136, 151);
    border-radius: 50%;
}



.pig{
    transition: 1000ms;
}