.CreatePostForm {
    width: 85%;
    margin-top: 6rem;
    position: fixed;
    top: 6rem;
    background: #17191e;
    border: 1px solid #7799E5;
    border-radius: 0.3rem;
}

.Button.SubmitButton.create-post {
    width: 100%;
    margin-top: 2rem;
    /*color: #ff6022;*/
    color: #00E8C4;
}

.Button.SubmitButton.create-post:hover {
    background-color: #f73a1c;
    cursor: pointer;
}