@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    --first-color: rgb(131, 13, 96);
    --second-color: rgb(234, 200, 243);
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: var(--first-color);
   
    
}


body {
    /*     background-color: var(--second-color);*/
    background-image: url("./register/images/koala2.jpeg");


}