@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --first-color: rgb(0, 255, 255);
    --second-color: rgb(5, 21, 252);
    --third-color: rgb(255,255,255);
}

* {
    font-family: Permanent Marker;
    color: var(--second-color);
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,var(--first-color) ,var(--third-color) ,var(--second-color));
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}