.CreatePostForm {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85%;
    background-color: rgba(175, 222, 238, 0.959);
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.CreatePostForm .Input {
    background-color: transparent;
    font-size: 1rem;
    border-top: 0px;
    border-left: 0px;
    border-right: 0;
    border-bottom: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    margin: 15px;
}

.CreatePostForm .FieldWithTextArea {
    display: flex;
    justify-content: center;
}

.CreatePostForm textarea {
    margin-top: 30px;
}

.divButton {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}