.header {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: var(--dark);
   color: var(--primary3);
   font-family: "Ubuntu", sans-serif;
   font-weight: 400;
   z-index: 998;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   box-sizing: border-box;

   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.logoutButton {
   padding: 10px 20px;
   border: none;
   background-color: var(--secondary);
   color: var(--primary3);
   font-family: "Ubuntu", sans-serif;
   font-size: 16px;
   cursor: pointer;
   border-radius: 7px;
   transition: background-color 0.3s;
}

.logoutButton:hover {
   background-color: var(--primary2);
}

.username {
   margin: 0;
   padding: 0;
   font-size: 16px;
}
