.LoginForm {
    padding: 1rem;
    background-color: rgb(206, 161, 12);
    border-radius: 30px;
}

.LoginForm .Input,
.Button {
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid var(--first-color);

}

.LoginForm .Feedback {
    display: flex;
    text-align: center;
    color: rgb(52, 26, 4);
    max-width: 11rem;
}

.LoginForm .Feedback.success {
    color: rgb(85, 41, 5);
}