@tailwind components;

@layer components {
  .Button.Logout {
    @apply m-1 w-20 rounded-md bg-fast-velvet p-2 text-white-mist;
  }

  .Button.Profile {
    @apply mx-5 my-1 h-14 w-14 rounded-full bg-fast-velvet p-2 text-black;
  }

  .Button.HomeSidebarButton {
    @apply w-full rounded bg-soft-gray p-1 text-left text-fast-velvet hover:bg-pale-sage hover:text-white-mist active:scale-95 active:bg-pale-sage;
  }

  .Button.CustomersButton {
    @apply my-2 w-full rounded bg-soft-gray p-1 text-left text-fast-velvet hover:bg-pale-sage hover:text-white-mist active:scale-95 active:bg-pale-sage;
  }

  .Button.DeleteProfileButton {
    @apply mb-2 ml-2 w-2/4 rounded bg-soft-gray p-1 text-fast-velvet hover:bg-sandy-pink hover:text-white-mist active:scale-95 active:bg-pale-sage;
  }

  .Button.EditProfileButton {
    @apply mb-2 mr-2 w-2/4 rounded bg-soft-gray p-1 text-fast-velvet hover:bg-pale-sage hover:text-white-mist active:scale-95 active:bg-pale-sage;
  }

  .Button.CancelProfileButton {
    @apply ml-2 mt-5 h-fit w-1/2 rounded bg-soft-gray p-1 text-fast-velvet hover:bg-sandy-pink hover:text-white-mist active:scale-95 active:bg-pale-sage;
  }
}
