.FooterCheckList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SubmitButtonInspection {
  display: flex;
  background: orangered;
  justify-content: center;
  align-items: center;
  width: full;
  padding-left: 1rem;
  height: 60px;
  font-size: 30px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
}

.ImageInspection {
  width: 100px;
}

.MichelangeloMecanic:hover {
  filter: grayscale(80%);
}

.menu-link {
  padding: 0.5rem;
  margin-top: 35px;
  background: green;
  border: darkgreen 2px solid;
  border-radius: 5px;
  border-bottom-right-radius: 5px;
  text-decoration: none;
  color: white;
}

.menu-link:hover {
  background: lightgreen;
  border: greenyellow 2px solid;
  color: black;
}
