
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --first-color: white;
    --second-color: black;
}

* {
    font-family: "Pixelify Sans";
    color: var(--first-color);
}

body {
    background-color: var(--second-color);
    margin: 0 auto;
}

/*.Logo {
    position: absolute;
    left: 30%;
    width: auto;
    height: auto; 
    font-size: 5vw;
    color: white;
  }*/