@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --first-color: blueviolet;
    --second-color: antiquewhite;
}

* {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--first-color)
}

body {
    background-color: var(--second-color);
}