.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: var(--dark);
	color: var(--primary3);
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	z-index: 998;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.createPostButton,
.scrollUpButton {
	padding: 10px 13px;
	border: none;
	background-color: var(--secondary);
	color: var(--primary3);
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	cursor: pointer;
	border-radius: 7px;
	transition: background-color 0.3s;
}

.createPostButton:hover,
.scrollUpButton:hover {
	background-color: var(--primary2);
}

.scrollUpButton {
	padding: 12.26px 13px;
}
