@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(120deg, #2980b9, #a2cfec, #2980b9);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    margin: 0;
    color: #fff;
    font-family: 'Arial', sans-serif;
    overflow: scroll;
}

h1 {
    font-size: 3em;
    animation: floating 3s ease-in-out infinite;
}
