.WasteContainerDiv {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3px;
}

.WasteContainerStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0px;
  height: full;
  width: full;
  background: white;
  border-radius: 5px;
  border: thistle solid 0.5px;
}

.ContainerOptions {
  display: flex;
}

.WasteContainerStatus.PALET {
  background: rgb(247, 247, 149);
  border: gold solid 1px;
}

.WasteContainerStatus.GRG {
  background: lightgoldenrodyellow;
  border: yellow solid 1px;
}

.WasteContainerStatus.BIGBAG {
  background: lightgreen;
  border: mediumseagreen solid 1px;
}

.WasteContainerStatus.B200 {
  background: rgb(116, 150, 251);
  border: darkblue solid 1px;
}

.WasteContainerStatus.B-200 {
  background: rgb(171, 219, 249);
  border: cornflowerblue solid 1px;
}

.Radio {
  cursor: pointer;
}

.Img {
  cursor: pointer;
  max-width: 50px;
}
