@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    --first-color: rgb(240, 127, 127);
    --second-color: rgb(240, 69, 90);
    --third-color: rgb(240, 0, 19);
    --forth-color: rgb(255, 211, 204);
}

*{
    font-family: Indie Flower;
    font-size: 20px;
    color: var(--forth-color);

}