.View {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://static.vecteezy.com/system/resources/previews/017/227/795/original/cute-cartoon-panda-set-panda-peeking-around-the-corner-illustration-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}