.RenderSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.CheckList {
  display: grid;
  grid-template-columns: auto auto;
}

.RadioGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
}

.ElementTitle {
  font-size: 15px;
}

.StatusValue {
  font-size: 10px;
}

.CheckElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0px;
  border: 1px solid green;
}
.CheckElement.CORRECTO {
  background-color: lightgreen;
}
.CheckElement.ARREGLAR {
  background-color: tomato;
  border: 1px solid red;
  color: white;
}
