.pig-head {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: pink;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pig-ears {
    display: flex;
    justify-content: space-between;

}

.pig-ear {
    background-color: pink;
    width: 20px;
    height: 20px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pig-ear-in {
    background-color: deeppink;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.pig-eyes {
    display: flex;
    justify-content: center;

}

.pig-eye {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.pig-pupil {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;

}

.pig-nose {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pig-nose-hole {
    width: 5px;
    height: 10px;
    border-radius: 50%;
    background-color: black;

}

.pig-mouth {
    width: 40px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}