.pig-head {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: pink;

}

.pig-eyes {
    display: flex;
}

.pig-eye {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pig-pupil {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;

}