.pig {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}


.pig-head {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: pink;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.pig-ears {
    display: flex;
    justify-content: space-between;

}

.pig-ear {
    background-color: pink;
    width: 20px;
    height: 20px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pig-ear-in {
    background-color: deeppink;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.pig-eyes {
    display: flex;
    justify-content: center;

}

.pig-eye {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pig-pupil {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;

}

.pig-nose {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
}

.pig-nose-hole {
    width: 5px;
    height: 10px;
    border-radius: 50%;
    background-color: black;

}

.pig-mouth {

    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    height: 10px;
    width: 40px;
    margin: 0 auto;
    margin-top: 10px;
}


/* width: 50%;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative; */

.matrix {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 400px;
    height: 400px;
    gap: 2px;

}

.matrix-pixel {

    background-color: gray;

}

.matrix-pixel-black {
    background-color: black;
}