.View {
    height: 100vh -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(237, 233, 115), rgba(202, 192, 167, 0.3));
    margin: 4rem 0;
    padding-bottom: 3rem;
    position: relative;



}

.Header {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: right;
    position: fixed;
    background-color: rgb(232, 206, 59);
    top: 0;
    padding: .5rem;
    box-sizing: content-box;
    border-bottom: 1px solid var(--first-color);
}

.Footer {
    background-color: rgb(232, 206, 59);
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    padding: 1 rem 0;
    box-sizing: content-box;

}