.Post{
    background-color: var(--fourth-color);
    border: 10px double var(--first-color);
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: rgb(9, 0, 17); 
    padding: 40px;
}

.AuthorTitle{
    color: aliceblue;
    text-align: left;
}

.PostTitle{
    color: var(--first-color);
}

.Image{
    border: 2px solid var(--first-color);
    border-radius: 15px;
}

.Post .deleteButton{
    float: right;
}

.deleteButton{
    margin-right: auto;
    font-size: 17px;
}