.CreatePostForm {
    position: fixed; /* de esta manera se comprime al maximo hasta que no le das ancho */
    bottom: 5rem;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    background-color: white;
}