.SummaryDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.summaryTitle {
  margin-top: 0px;
  margin-bottom: 1rem;
}

.SummaryWasteDataDiv {
  background: white;
  font-size: large;
  line-height: 0;
  min-width: 370px;
  border-bottom: grey 1px solid;
}

.TruckLoadListDiv {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.DataTitle {
  margin: 0px;
}

.NewWasteDiv {
  display: flex;
  min-width: 370px;
  flex-direction: column;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  font-size: 20px;
  font-weight: bold;
  line-height: 0;
  border-radius: 5px;
  cursor: pointer;
}

.ShortDescription {
  font-size: small;
}

.NewWasteDiv.PALET {
  background: rgb(247, 247, 149);
  border: gold solid 1px;
  color: black;
}

.NewWasteDiv.PALET:hover {
  background: grey;
  border: black solid 1px;
  color: white;
}

.NewWasteDiv.GRG {
  background: lightgoldenrodyellow;
  border: yellow solid 1px;
  color: black;
}

.NewWasteDiv.GRG:hover {
  background: grey;
  border: black solid 1px;
  color: white;
}

.NewWasteDiv.BIGBAG {
  background: lightgreen;
  border: mediumseagreen solid 1px;
  color: black;
}

.NewWasteDiv.BIGBAG:hover {
  background: grey;
  border: black solid 1px;
  color: white;
}

.NewWasteDiv.B200 {
  background: rgb(116, 150, 251);
  border: darkblue solid 1px;
  color: black;
}

.NewWasteDiv.B200:hover {
  background: grey;
  border: black solid 1px;
  color: white;
}

.NewWasteDiv.B-200 {
  background: rgb(171, 219, 249);
  border: cornflowerblue solid 1px;
  color: black;
}

.NewWasteDiv.B-200:hover {
  background: grey;
  border: black solid 1px;
  color: white;
}

.NewWasteDiv.ESTANCADO {
  background: tomato;
  border: red solid 1px;
  color: white;
}

.NewWasteDiv.ESTANCADO:hover {
  background: grey;
  border: black solid 1px;
  color: white;
}
