.Button {
    padding: .4rem 0;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    width: 7rem;
    height: auto;


}

.CancelButton {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.179);
    border-radius: 5%;
    cursor: pointer;

}

.DeleteButton {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.179);
    border-radius: 5%;
    cursor: pointer;
}

.ConfirmButton {
    padding: .4rem 0;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    width: 7rem;
    height: auto;
    cursor: pointer;

}

.DeleteConfirmButton,
.ConfirmCancelButton {
    border-radius: 15%;
    cursor: pointer;
    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    width: 9rem;
}

.DeleteConfirmButton {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.179);

}