@tailwind components;

@layer components {
  .Logo {
    @apply relative left-0 ml-6 w-full rounded-lg text-[1.5rem] text-blanchedalmond md:text-[4vw] lg:text-[2.5rem];
  }

  .Header > Button {
    @apply mr-8;
  }

  .Section {
    @apply my-16 flex w-[90%] flex-col items-center gap-6;
  }

  .Footer {
    @apply fixed bottom-0 flex w-full justify-evenly bg-black bg-opacity-80 p-2;
  }

  .Footer .Button {
    @apply relative mb-2 flex h-9 w-8 items-center justify-center text-3xl;
  }

  .Footer i {
    @apply relative cursor-pointer text-2xl text-blanchedalmond transition duration-200 ease-in;
  }

  .Footer i:hover {
    @apply text-first-color;
  }
}
