@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

:root {
  --first-color: yellowgreen;
  --second-color: black;
}

* {
  font-family: Workbench;
  color: var(--first-color);
}

body {
  background-color: var(--second-color);
  margin-top: 5rem;
}