.CreatePostForm {
    position: fixed;
    bottom: 3rem;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    background-color: var(--second-color);
    background: linear-gradient(#000000, #373737);
}