@tailwind components;

@layer components {
  .CustomersListSection {
    @apply z-10 col-span-2 col-start-5 row-span-3 row-start-2 h-full w-full rounded-md border-2 border-solid bg-light-pale-sage p-4 text-fast-velvet shadow-2xl;
  }

  .CustomersListLi {
    @apply mb-2 w-full rounded bg-soft-gray p-1 text-left text-fast-velvet hover:cursor-pointer hover:bg-pale-sage hover:text-white-mist active:scale-95 active:bg-pale-sage;
  }

  .CustomersListHr {
    @apply border-fast-velvet;
  }

  .CustomersListUl {
    @apply mt-4 h-5/6 overflow-y-auto;
  }
}
