.View {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 3.5rem;
    justify-content: center;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content:right;
    gap: 1rem;
    padding: 0.25rem 2rem;
    border-bottom: 1px solid var(--color1);
    background-color: white;
}

.header .Button{
    height: 2rem;
}
.header .title{
    justify-self: left;
    
}


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--color1);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    height: 3.5rem;
    background-color: white;
}
.footer .Button{
    height: 2rem;
    width: 2rem;
    border-radius: 20%;
    border: 0;
}

.main{
    width: 60%;
    margin-bottom: 3.5rem;
}