body {
    background-color: #ffffb3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /*DOG */

.dog {
    background-color: #fdb44e;
    height: 75px;
    width: 120px;
    position: absolute;
    top: 10%;
    left: 3%;
    border-radius: 0 0 0 120px;
}

.body {
    background-color: #fdb44e;
    height: 100px;
    width: 180px;
    position: relative;
    top: 55px;
    left: 70px;
    border-radius: 0 0 0 60px;
}

.leg1, .leg2, .leg3, .leg4 {
    background-color: #fdb44e;
    height: 50px;
    width: 18px;
    position: relative;
}

.leg1 {
    left: 100px;
    top: 48px;
}

.leg2 {
    left: 130px;
    bottom: 2px;
}

.leg3 {
    left: 205px;
    bottom: 50px;
    background-color: #b19f8ddf;
    z-index: -1;
}

.leg4 {
    left: 232px;
    bottom: 100px;
}

.tail {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 100px solid #fdb44e;
    position: relative;
    bottom: 320px;
    left: 230px;
    transform: rotate(30deg);
    transform-origin: bottom;
}

.ear {
    background-color: #b19f8ddf;
    width: 45px;
    height: 90px;
    border-radius: 0 0 100px 100px;
    position: relative;
    left: 75px;
    bottom: 400px;
}

.nose {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    right: 2.5px;
    bottom: 492px;
}

.eye {
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    bottom: 490px;
    left:50px;
}

.tongue {
    background-color: tomato;
    height: 20px;
    width: 8px;
    border-radius: 10px;
    position: relative;
    left: 23px;
    bottom: 470px;
    transform: rotate(45deg);
    z-index: -1;
}

/*PANDA */

.panda {
    width: 200px;
    height: 150px;
    border: 3px solid;
    border-radius: 50%;
    margin: 100px;
    left: 20%;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nose-p {
    width: 30px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 20px;
}

.ears {
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1; 
    box-shadow: 130px 0;;
}

.eyes {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    top: 30px;
    left: 20px;
}

.eyes-r {
    left: initial;
    right: 20px;
}

.pupil {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: -15px 20px 0 -8px white;
}

/*HONGO */

.fungus {
    width: max-content;
    margin: 80px;
    position: relative;
   
}

.head {
    width: 260px;
    height: 200px;
    background-color: #c53b4a;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.head::before {
    content: "";
    position:absolute;
    top:30px;
    left: 50%;
    transform: translate(-50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 140px 0, -140px 0;
    color: #fff;
}

.face {
    position: absolute;
    bottom: -40px;
    left: 20%;
    transform: translate(50);
    width: 155px;
    height: 90px;
    background-color: #fadac1;
    border-radius: 50% 50% 50% 50% / 26% 26% 30% 30%;
}

.eyefungus {
    width: 14px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 40px;
    box-shadow: 61px 0;
}

