@tailwind components;

@layer components {
  .Button {
    @apply relative z-0 m-0 min-w-[4rem] overflow-hidden rounded-md border-none bg-custom-orange p-2 text-[1rem] text-white shadow-custom-shadow outline-none transition-colors duration-400 ease-in-out;
  }

  .Button:hover {
    @apply cursor-pointer text-black;
  }

  .Button::before {
    @apply absolute left-[50%] top-[50%] -z-10 h-2 w-2 origin-center rounded-lg bg-orange-400 content-[""];
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }

  .Button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }
}
