@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
.LoginForm {
    background-color: darkslategrey;
    padding: 2rem;
    font-size: x-large;
}
.View {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    font-family: Workbench;
    font-size: 350%;
}
.LoginForm .Input,
.Button {
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid var(--first-color);
}
