.View {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RegisterForm {
    padding: 1rem;
}

.RegisterForm .Input,
.Button {
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid var(--first-color);
}