@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --first-color: rgb(0, 0, 0);
    --second-color: rgba(164, 151, 158, 0.776);
    --third-color: rgb(136, 128, 136);
  }

  * {
    font-family: "Courier New", Courier, monospace;
    color: var(--first-color);
  }

  body {
    @apply flex min-h-screen w-full flex-col bg-[--second-color] justify-center;
  }
  main {
    @apply flex flex-col justify-center items-center;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-lg font-bold;
  }
}

@layer components {
  .registerForm {
    @apply flex flex-col items-center;
  }
  .loginForm {
    @apply flex flex-col items-center;
  }

 

  

  
}
