@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: rgb(0, 0, 0);
  --second-color: rgba(164, 151, 158, 0.776);
  --third-color: rgb(136, 128, 136);
}

* {
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  color: var(--first-color);
}

body {
  @apply flex min-h-screen w-full flex-col bg-[--second-color] justify-center;
}
.Main {
  @apply flex w-full flex-grow flex-col items-center justify-center;
}


.registerForm {
  @apply flex flex-col items-center;
}

.button-container {
  @apply flex flex-col justify-center items-center gap-4;
}

.button-container Button {
  @apply p-[10px_20px] rounded-[5px] bg-[--second-color] text-[white] cursor-pointer w-[300px];
}

.button-container Button:hover {
  @apply bg-[#65524d];
}

main {
  @apply flex flex-col justify-center items-center gap-4
}
