.CodeDiv {
  display: flex;
  width: full;
  background: white;
  border-radius: 5px;
  border: thistle solid 0.5px;
  margin-left: 5px;
  margin-bottom: 0px;
}

.CodeSelected {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 28px;
}
.CodeSelected:focus {
  border: none;
}
.CodeSelected:active {
  border: none;
}

Select {
  border: 0px;
}
