@tailwind components;

@layer components {
    .UserAdsContainer {
        @apply flex flex-col max-w-2xl mx-auto p-6 rounded-lg shadow-md;
    }

    .UserAdsContainer>h3 {
        @apply text-2xl text-green-700 font-bold p-1;
    }

    .UserAdsContainer>h2 {
        @apply text-green-600 font-bold p-1;
    }

    .UserAdsContainer>p {
        @apply text-gray-600 p-1;
    }

    .UserAdListEmpty {
        @apply mt-20 text-center text-black font-bold;
    }

    .AdCommentsContainer>h4 {
        @apply flex flex-col text-orange-700 p-1;
    }

    .AdComment>p {
        @apply p-1 text-black font-medium
    }

    .AdComment>small {
        @apply p-1 font-black
    }
}

/* Title {
    margin-bottom: 0.25rem;
    width: 33.333333%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(194 65 12 / var(--tw-text-opacity));
} */