.View {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.7rem 2rem;
}

.Header {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: right;
    position: fixed;
    top: 0;
    padding: .5rem;
    box-sizing: border-box;
    background-color: rgba(175, 222, 238, 0.603);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: .5rem 0;
    background-color: rgba(175, 222, 238, 0.603);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.Footer i {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    font-size: 2rem;
}

body {
    height: 100%;
}



.Footer .Button,
.divCreatePost .Button {
    background-color: transparent;
    font-size: 17px;
    border-radius: 20px 0;
    width: 60px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.25s ease-in;
}

.Header .Button {
    background-color: transparent;
    font-size: 17px;
    border-radius: 0 20px;
    width: 60px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.25s ease-in;
}

.Footer .Button {
    font-size: 25px;
    font-weight: 800;
    padding: 0;
}

.divCreatePost .ExitButton {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 0 20px;
    width: 35px;
    height: 35px;
}

.Button:hover {
    background-color: rgb(126, 213, 240);
    transition: 0.25s ease-in;
}

.Button:active {
    background-color: lightblue;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.699);
}