@tailwind components;

@layer components {
  .WasteList {
    @apply flex flex-col mx-1 mb-12;
  }
  .NewWasteDiv {
    @apply mb-1 text-3xl font-bold leading-tight w-full;
  }
  .ShortDescription {
    @apply text-base;
  }
  .NewWasteDiv.PALET {
    @apply bg-orange-200 text-black;
  }
  .NewWasteDiv.PALET:hover {
    @apply bg-orange-300;
  }
  .NewWasteDiv.GRG {
    @apply bg-yellow-200 text-black;
  }
  .NewWasteDiv.GRG:hover {
    @apply bg-yellow-300;
  }
  .NewWasteDiv.BIGBAG {
    @apply bg-lime-200 text-black;
  }
  .NewWasteDiv.BIGBAG:hover {
    @apply bg-lime-300;
  }
  .NewWasteDiv.B200 {
    @apply bg-indigo-200 text-black;
  }
  .NewWasteDiv.B200:hover {
    @apply bg-indigo-300;
  }
  .NewWasteDiv.B-200 {
    @apply bg-cyan-200 text-black;
  }
  .NewWasteDiv.B-200:hover {
    @apply bg-cyan-300;
  }
  .NewWasteDiv.ESTANCADO {
    @apply bg-red-400 text-white;
  }
  .NewWasteDiv.ESTANCADO:hover {
    @apply bg-red-600;
  }
}
