
.Button {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
} 

.Header .Button {
    padding: 0.3rem;
}