
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --first-color: white;
    --second-color: rgb(28, 27, 27);
}

* {
    font-family: "Pixelify Sans";
    color: var(--first-color);
}

body {
    background-color: var(--second-color);
    margin: 0;
}