.RegisterForm {
    padding: 3rem;
    width: 200px;
    box-shadow: 15px 5px 30px;
}


.RegisterForm .Feedback {
    color: rgb(244, 42, 7);
    font-size: 1.2rem;
}

.RegisterForm .Feedback.success {
    color: rgb(32, 140, 2);
    font-size: 1.2rem;
}