.ContainColor {
  background-color: rgb(97, 47, 6);
  max-width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  background: #996929;
  -webkit-box-shadow: 18px 18px 31px #493214, -18px -18px 31px #e9a03e;
  box-shadow: 18px 18px 31px #493214, -18px -18px 31px #e9a03e;
}

.ContainerOne {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 40vw;
  height: 20rem;
  cursor: pointer;
  background-color: antiquewhite;
  box-shadow: inset 0px 0px 20px 11px white;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  background: #996929;
  -webkit-box-shadow: 18px 18px 31px #493214, -18px -18px 31px #e9a03e;
  box-shadow: 18px 18px 31px #493214, -18px -18px 31px #e9a03e;
}

.ContainerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 40vw;
  height: 20rem;
  cursor: pointer;
  background-color: burlywood;
  box-shadow: 0px 0px 20px 11px white;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  background: #996929;
  -webkit-box-shadow: 18px 18px 31px #493214, -18px -18px 31px #e9a03e;
  box-shadow: 18px 18px 31px #493214, -18px -18px 31px #e9a03e;
}