.TruckLoadDiv {
  display: flex;
  justify-content: center;
}

.TruckLoadListDiv {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.DataTitle {
  margin: 0px;
}

.TruckLoadForm {
  display: flex;
  justify-content: center;
  max-width: 527px;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  line-height: 0px;
}

.TruckLoadSelectWaste {
  display: flex;
  align-items: center;
  justify-content: center;
}

.WeightWeekButtton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.WeightWeek {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  height: 66px;
  padding-right: 0.5rem;
  border: darkgrey solid 2px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: none;
  border-top-right-radius: none;
  background: white;
  color: darkgrey;
}

.SubmitButtonLoads {
  color: white;
  height: 70px;
  background: greenyellow;
  border: green solid 2px;
  border-bottom-left-radius: none;
  border-top-left-radius: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  margin-left: 0;
  text-decoration: none;
}

.SubmitButtonLoads:hover {
  background: orangered;
  border: red solid 2px;
}
