@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


:root {
    --first-color: rgb(50, 135, 205);
    --second-color: grey(202, 22, 22);
}

* {
    font-family: Oswald;

    color: var(--first-color);

}

body {

    background-color: var(--second-color);
    margin: 0;

    background-attachment: fixed;

}