@tailwind components;

@layer components {
    .Confirm {
        /* @apply absolute top-36 flex w-56 flex-wrap justify-center rounded-2xl bg-gray-100 p-4 text-center; */
        @apply flex absolute top-40 w-full justify-center left-1;
    }

    .ConfirmBox {
        /* @apply w-full text-xl; */
        @apply p-[.4rem] bg-gray-100 text-[1rem] border-[1px] border-blue-500 w-[150px] h-[200px] rounded-xl shadow-md;
    }

    .Confirm p {
        @apply text-center text-green-700 font-bold;
    }

    .Confirm .Button {
        /* @apply m-4 w-36; */
        @apply px-[.6em] bg-white text-[1rem] border-[1px] border-blue-500 mt-3 text-black font-bold;
    }

    /* .Confirm {
        @apply p-[.4rem] bg-[var(--second-color)] text-[1rem] border-[1px] border-[var(--first-color)];
    } */
}

/* .Confirm {
    @apply absolute mx-auto w-auto flex-1 flex-col items-center rounded-lg bg-[#e4e4e4] p-4 shadow-custom-shadow;
}

.Confirm h2 {
    @apply text-center text-2xl font-bold;
}

.Confirm p {
    @apply mt-4 text-center;
}

.Confirm-Buttons {
    @apply flex w-auto gap-10;
} */

/* .Confirm {
        @apply fixed top-0 left-0 w-full h-full flex justify-center items-center;
    } */

/* .ConfirmBox {
        @apply p-[.4rem] bg-[var(--second-color)] text-[1rem] border-[1px] border-[var(--first-color)] w-[200px] h-[200px];
    } */
