.MenuLoadsDiv {
  position: fixed;
  bottom: 0;
}

.MenuLoads {
  display: flex;
  justify-content: center;
  font-size: small;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
}
.menu-loads-center {
  padding: 0.5rem;
  background: green;
  border: darkgreen 1px solid;
  text-decoration: none;
  color: white;
}
.menu-loads-start {
  padding: 0.5rem;
  background: green;
  border: darkgreen 1px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-decoration: none;
  color: white;
}
.menu-loads-end {
  padding: 0.5rem;
  background: green;
  border: darkgreen 1px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-decoration: none;
  color: white;
}

.menu-loads-start:hover,
.menu-loads-center:hover,
.menu-loads-end:hover {
  background: lightgreen;
  border: greenyellow 1px solid;
  color: black;
}
