@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
.RegisterForm {
    background-color: darkslategrey;
    padding: 2rem;
    font-size: x-large;
}
.RegisterForm {
    background-color: darkslategrey;
    font-size: 1rem;
    border: 1px solid var(--first-color);
}
.RegisterForm .Feedback {
    color: tomato;
}
.RegisterForm .Feedback.success {
    color: greenyellow;
}