.Form{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
    background-color: var(--first-color);
    padding: 1rem;
    border-radius: 5%;
    border: 10px double var(--forth-color);
}