@tailwind base;
@tailwind components;
@tailwind utilities;

.wasteContainer {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wasteContainer.GRG {
  background-color: royalblue;
}

.wasteContainer.Palet {
  background-color: tomato;
}

.wasteContainer.BigBag {
  background-color: palevioletred;
}

.wasteContainer.B200 {
  background-color: greenyellow;
}

.wasteContainer.B-200 {
  background-color: chartreuse;
}

.wasteContainer.true {
  height: 61px;
  width: 61px;
  background-color: grey;
  border: 4px solid black;
}
