.input-reference {
  margin-left: 0.5rem;
  color: orange;
  text-align: left;
  font-weight: bold;
  font-size: x-large;
  background: transparent;
  border: 0px;
}

.button-reference {
  background: transparent;
  font-size: x-large;
  border: 0px;
  cursor: pointer;
}
