.WasteContainerDiv {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 0px;
}

.WasteContainerStatus {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-right: 8px;
  background: rgb(240, 240, 240);
}

.ContainerOptions {
  display: flex;
}

.WasteContainerStatus.PALET {
  background: rgb(248, 214, 127);
}

.WasteContainerStatus.GRG {
  background: rgb(247, 247, 149);
}

.WasteContainerStatus.BIGBAG {
  background: lightgreen;
}

.WasteContainerStatus.B200 {
  background: rgb(116, 150, 251);
}

.WasteContainerStatus.B-200 {
  background: rgb(171, 219, 249);
}

.Radio {
  cursor: pointer;
}

.ImgOptions {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}
