body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.LoginForm {
  margin-top: 5px;
  border-radius: 15px;
  background-color: gray;
  padding: 5px;
  width: 250px;
  box-shadow: 2px 2px 5px black;
}