.LoginForm {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(22, 22, 22, 0.22) 0px 15px 12px;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 180px;
  background-image: linear-gradient(to right top, #f97c16, #d25a2c, #a54031, #742c2e, #441c22, #2f161b, #1c0e11, #1b1b1b, #1b1b1b, #1b1b1b, #000000, #000000);
  letter-spacing: 2px;
}