.InputWeightDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: full;
  width: full;
  background: transparent;
  margin-bottom: 0px;
}

.InputWeight {
  height: full;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  border: 0px;
  cursor: cell;
}
.InputWeight:focus {
  border: none;
}
.InputWeight:active {
  border: none;
}

.UnitWeight {
  font-size: 25px;
  color: black;
  margin-right: 0.5rem;
}
