.Title {
    display: flex;
    justify-content: flex-start;
    font-size: 120%;
    padding-top: 0;
    padding-left: 15px;
    width: 100%;
    height: 0px;
    z-index: 999;
}

.Welcome {
    display: flex;
    justify-content: center;
    font-size: 100%;
    padding-top: 10px;
    padding-left: 15px;
    width: 100%;
    height: 0px;
    z-index: 999;
}

.UserName {
    font-size: 120%;
    justify-content: center;
}

.Fixed {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    padding: .5rem;
    box-sizing: border-box;
    background: linear-gradient(white, transparent);
}

.Logout {
    padding-top: 8px;
}


