@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    --first-color: rgba(36, 53, 71, 1);
    --second-color: rgba(35, 81, 134, 1);
    --third-color: rgba(132, 167, 204, 1);
    --fourth-color: rgba(178, 199, 215, 1);
    --fifth-color: rgba(223, 237, 241, 1);
    --sixth-color: rgba(150, 112, 19, 1);
    --seventh-color: rgba(220, 188, 131, 1);
}

* {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}