.StatusDiv {
  line-height: 0px;
  margin-left: 3px;
}

.StatusTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.WasteStatus {
  display: flex;
  font-size: 19px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 80;
  width: full;
  background: greenyellow;
  border-bottom-right-radius: 5px;
}

.WasteStatus.ESTANCADO {
  color: white;
  background: tomato;
}

.Status {
  display: flex;
  justify-content: center;
}

.Radio {
  cursor: pointer;
}

label {
  font-size: 25px;
  cursor: pointer;
}
