.FormWithFeedback {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.FormWithFeedback .Feedback {
    color: tomato;
}

.FormWithFeedback .Feedback.success {
    color: greenyellow;
}