.Post {}

.LoggedUser {
    color: #70FACB;
    margin-top: 2rem;
    margin-bottom: 0;
}

.PostHeader {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 2rem;
    margin-bottom: 0;
}

.AuthorTitle {
    color: #2AC195;
}

.edit-icon {
    width: 1rem;
}

.edit-icon:hover {
    cursor: pointer;
}

.edit-list {
    list-style: none;
    position: absolute;
    right: 5%;
    text-align: right;
    font-size: 1.5rem;
    background-color: #17191e;
}

.item-list:hover {
    cursor: pointer;
}

.PostTitle {
    color: #f4f4f4;
    display: flex;
    align-items: center;
}

.PostImage {
    width: 100%;
    border-radius: 5px;
}

.PostDescription {
    color: #f4f4f4;
}

.PostDate {
    color: #8190BB;
}

.StraightLine {
    border-color: #7799E5;
}