* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: bisque;

}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}