/* container */
/* article {} */

/* username */
.author {
  font-size: medium;
  margin-top: 5px;
}

/* title */
.post-title {
  margin-bottom: 0px;
}

/* image */
img {
  border-radius: 5%;
}

/* description */
.post-description {
  margin-bottom: 0px;
}

/* time */
time {
  font-size: x-small;
}

/* delete button */
.remove-post-button {
  align-self: flex-start;
  margin: 0;
  margin-left: 10px;
  margin-top: 6px;
  border: #d75656 1px solid;
  color: #d75656;
  background-color: var(--secondary);
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remove-post-button:hover {
  border: var(--dark) 1px solid;
  color: var(--primary3);
  background-color: #d75656;
}

.remove-post-button:active {
  color: #d75656;
  background-color: #f18e8e;
}
