@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

:root {
  --first-color: black;
  --second-color: rgb(105, 228, 228);
}

* {
  font-family: catamaran;
  color: var(--first-color);
}

body {
  background-color: var(--second-color);
  background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.63), rgba(42, 42, 255, 0.788), rgba(0, 255, 255, 0.788), rgba(105, 228, 228, 0.76)) no-repeat;
  height: 100vh;
}

.View {
  display: flex;
  flex-direction: column;
  align-items: center;

}