.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #07273b, #214c5b);
    position: fixed;
    bottom: 0;
    padding: .5rem;
    border-top: 1px solid blue;
    /* height: 40px; */
}

.Footer .Button {
    display: inline-block;
    margin: .2rem;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bffb0;
    border: 1px solid rgba(0, 0, 255, 0.338);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 5rem;
    height: 3rem;
  }

  
  .Footer .Button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .Footer .Button:active {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .Footer .Button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }