.Post{
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 30px;
    margin: 0.5rem;
    padding: 1.5rem;
    padding-bottom: .2rem;
    width: 60%;
    box-shadow: 0 0 10px black;
    background: linear-gradient(to bottom, #1e6091, #3f9bd8);
}

.header-post{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.Button.delete{
    background-color: rgba(255, 0, 0, 0.51);
    width: 2rem;
    height: 2rem;
    font-size: .8rem;
    border-radius: 100%;
    margin: 0      
}
.likes-Button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: auto;
    margin: 2px
}

.likes-Button:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .likes-Button:active {
    background-color: transparent;
    border-color: transparent;
  }
  
  .likes-Button:focus {
    outline: none;
    box-shadow: none
  }
  

.likes-people{
    border: none;
    background-color: transparent;
    font-size: 12px;
    width: 50%;
    padding: 0px;
    margin: 0px
}

.likes-people:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .likes-people:active {
    background-color: transparent;
    border-color: transparent;
  }
  
  .likes-people:focus {
    outline: none;
    box-shadow: none
  }

.Time{
    font-size: .8rem;
    position: relative;
    left: .5rem
    
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: end;
}

.custom-hr{
    border-color: blue;
    margin-top: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 2px;
  }

ul li {
    margin-bottom: 10px;
  }


  