.Post{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 30px;
    margin: 1rem;
    padding: 1.5rem;
    width: 75%;
    box-shadow: 0 0 10px black;
    background: linear-gradient(to bottom, #1e6091, #3f9bd8);
}

.Button.delete{
    background-color: rgba(255, 0, 0, 0.51);
    width: 1.5rem;
    height: 1.5rem;
    font-size: .8rem;
    border-radius: 100%;
    position: relative; 
      
}

.Time{
    font-size: .8rem;
    position: relative;
    left: .5rem
    
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: end;
}

.custom-hr{
    border-color: blue;
    margin-top: 1.5rem;
}