.ConfirmDelete {

    padding: .4rem;
    font-size: 1rem;
    position: fixed;
    top: 40%;
    left: 25%;
    width: 200px;
    height: 160px;
    border: 1px solid black;
    border-radius: 20px;
    z-index: 10;
    background-color: rgba(175, 222, 238, 0.959);
    display: flex;
    flex-direction: column;
}