.TextArea {
    display: flex;
    height: 90px;
    width: 300px;
    background-color: transparent;
    font-size: 1rem;
    border-bottom: 1px solid black;
    border-radius: 20px;
    padding: 12px;
    margin: 15px
}