.CreatePostForm {
    width: 20rem;
    position: fixed;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin-bottom: 3rem;
}

.SubmitButton {
    align-self: center;

}