.View {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    width: 90%;
    display: flex;
    gap: 1rem;
    align-self: center;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    /*border-bottom: 1px solid var(--first-color);*/
    background-color: var(--second-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.Logo {
    height: 50px;
    margin-right: auto;
}

.RegisterLink {
    border: 1px solid #7799E5;
    border-radius: 0.3rem;
    padding: .5rem;
    text-decoration: none;
}

.RegisterLink:hover {
    cursor: pointer;
    background-color: #f73a1c;
}

.Title {
    margin-top: 8rem;
}