.RegisterForm {
    background-color: rgb(229, 211, 241);
    padding: 40px;
    border: solid rgb(204, 203, 205) 2px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    width: 300px;
    height: 550px;
}

.RegisterForm .Input,
.Button {
    font-size: 1rem;
    border-radius: 15px;
}

.RegisterForm .Feedback {
    color: tomato;
}

.RegisterForm .Feedback.success {
    color: white;
}