.StoreDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 0px;
}
.StoreTitle {
  display: flex;
  align-items: center;
  flex-direction: center;
  color: darkgreen;
}

.StoreSelectWaste {
  display: flex;
  justify-content: center;
  flex-direction: center;
}

.StoreSelectOptions {
  display: flex;
  align-items: center;
  flex-direction: center;
}

.StoreSelectedContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.WeightStatus {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SubmitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 60px;
  font-size: 30px;
  margin: 5px;
  border-radius: 5px;
  border: thistle solid 0.5px;
  cursor: pointer;
}
