@tailwind components;

@layer components {
    .AdActions {
        @apply flex gap-5;
    }

    .Button.DeleteAdButton {
        @apply mt-2 border-[1px] text-green-600 px-4 py-2 border-blue-500 rounded hover:text-green-800 transition-colors;
    }

    .UpdateAdButton {
        @apply mt-2 px-4 border-[1px] text-green-600 py-2 border-blue-500 rounded hover:text-green-800 transition-colors;
    }
}
