.FormWithFeedback .Input,
.Button {
    font-size: 1rem;
    border-radius: 5px;
}

.FormWithFeedback .Feedback {
    color: tomato;
    margin: 0;
}

.FormWithFeedback .Feedback.success {
    color: white;
}