.Panel-username {
    border-radius: 10px;
    background-color: rgb(216, 228, 230);
    margin: auto;
    width: 400px;
    border: 3px solid var(--second-color);
    margin-bottom: 50px;
}

.Panel {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Input-panel {
    text-align: center;
    color: var(--second-color);
    padding: 10px;
    font-size: 20px;
    border: 2px solid var(--second-color);
    margin: 20px;
    border-radius: 10px;
}

.Button-panel {
    color: var(--second-color);
    padding: 10px;
    font-size: 22px;
}

.Button-panel {
    margin: 10px;
}