.StoreWasteForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 0px;
}

.StoreSelectWaste {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.StoreSelectWeightStatusSubmit {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.WeightStatus {
  display: flex;
  align-items: center;
  flex-direction: row;
}
