@tailwind components;

@layer components {
  .EditResultForm {
    @apply fixed w-[300px] bottom-[100px] left-1/2 transform -translate-x-1/2 bg-white p-[10px] shadow-lg rounded-md;
  }

  .form-buttons-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px; 
  }

  .form-buttons-container Button:hover {
    @apply bg-[#65524d];
  }
  .EditResultForm .Field {
    @apply m-1 p-[.02rem] w-full;
  }

  .cancel-button {
    @apply text-[red] py-2 px-4 rounded-md;

  }
  
}
