.FormWithFeedback {
    padding: 3rem;
    box-shadow: 15px 5px 30px;
    height: auto;
    padding: 4rem 0;

}


.FormWithFeedback .Feedback {
    color: rgb(244, 42, 7);
    font-size: 1.2rem;
}


.FormWithFeedback .Feedback.success {
    color: rgb(32, 140, 2);
    font-size: 1.2rem;
}