.InputWeightDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: full;
  width: 150px;
  background: white;
  border-radius: 5px;
  border: thistle solid 0.5px;
  margin: 3px;
  margin-bottom: 0px;
}

.InputWeight {
  width: 80px;
  height: 58px;
  text-align: end;
  font-size: 28px;
  border: 0px;
  cursor: cell;
}
.InputWeight:focus {
  border: none;
}
.InputWeight:active {
  border: none;
}

.UnitWeight {
  font-size: 25px;
  color: darkgray;
}
