@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap'); */

:root {
    --first-color: #7799E5;
    --second-color: #17191e;
}

* {
    font-family: Freeman;
    color: var(--first-color);
}

body {
    background-color: var(--second-color);
    margin: 0;
}