/* .View {
    display: flex;
} */

.View.column {
    flex-direction: column;
}

.View.row {
    flex-direction: row;
    gap: 1rem;
}

.View.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.View.left{
    align-items: left;
}