.View{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm{
    padding: 1rem;
}

.registerForm .input {
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid var(--first-color);
}

.registerForm button{
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid var(--first-color);
}