@tailwind components;
@layer components {
  .WorkoutDetails {
    @apply flex flex-col justify-center items-center gap-1  p-0 mt-8 w-[350px] h-[420px]  rounded-[7px];
  }

  .buttons-container {
    display: flex;
    justify-content: space-between; /* Opcional: Espacia los botones */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio superior para separar de los elementos anteriores */
  }

  .buttons-container Button {
    flex: 1; /* Hace que los botones tengan el mismo ancho */
    max-width: 150px; /* Limita el ancho máximo de los botones */
  }
}
