.View{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--first-color);
    margin: 5rem 1rem;
}

.Header{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: right;
    position: fixed;
    top: 0;
    padding: .5rem;
    box-sizing: border-box;
    border-bottom: 3px solid var(--second-color);
}

.Footer{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    border-top: 3px solid var(--second-color);
}
