.View {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 2rem;
}

.Logo {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
}

.Header {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: right;
    position: fixed;
    top: 0;
    padding: .5rem;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    background: linear-gradient(#333f36, #333f36, #000000);
}

.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: .5rem 0;
    border-top: 1px solid black;
    background:#333f36
}