
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --first-color: black;
    --second-color: grey;
}

* {
    font-family: "Pixelify Sans";
    color: var(--first-color);
}

body {
    background-color:white;
}

@layer components {

    /* core */

    .Button {
        @apply p-[0.5rem] mt-2 mr-2 ml-2 mb-3 bg-transparent bg-gradient-to-t from-zinc-300 to-pink-200 text-lg rounded-xl cursor-pointer;
      }

    .Field {
        @apply flex flex-col m-[.25rem_0];
      }
  
    .Form {
      @apply flex flex-col marker:items-center rounded-xl bg-transparent bg-gradient-to-b from-zinc-300 to-red-100;
    }

    .Image {
        @apply w-[1920px] rounded-xl;
    }

    .Input {
        @apply p-[.4rem] bg-transparent font-[1rem] rounded-xl border-2;
      }

    .Label {
      @apply mb-[1rem];
    }
  
    .SubmitButton {
      @apply m-[1];
    }
  
     .Text {
      @apply text-pink-500;
    }

    .Titles {
      @apply text-black text-4xl w-full h-20 flex justify-center fixed top-0 p-[.5rem_0] bg-gradient-to-b from-red-100 to-transparent;
  }
  
    .Time {
      @apply flex justify-center text-black;
    }

    .Link {
      @apply text-black w-full h-16 flex justify-start fixed bottom-0 p-[.5rem_0] bg-gradient-to-t from-red-100 to-transparent;
  }
  
    /* library */
  
    .FormWithFeedback {
      @apply  mt-20 pb-20 p-[2rem];
    }
  
    .FormWithFeedback .Feedback.error {
      @apply flex justify-center text-[tomato];
    }
  
    .FormWithFeedback .Feedback.success {
      @apply flex justify-center text-[greenyellow];
    }
  
    .View {
      @apply flex flex-col justify-center;
    }
  
    .View.column {
      @apply flex-col;
    }
  
    .View.row {
      @apply flex-row;
    }
  
    .View.center {
      @apply items-center justify-center;
    }
  
    /* components */
  
    .CreatePostForm {
      @apply fixed bottom-[5rem] bg-transparent w-full left-0 box-border;
    }
  
    .Footer {
      @apply w-full flex justify-center fixed bottom-0 p-[.5rem_0] bg-gradient-to-t from-red-100 to-transparent;
    }
    
    .Fixed {
        @apply flex justify-end w-full fixed top-0 box-border bg-gradient-to-b from-red-100 to-transparent;
    }

    .Logout {
        @apply p-1;
      }

    
    .Title {
        @apply flex justify-start w-full text-5xl ml-6 h-0 z-[999];
      }
    
    .Welcome {
        @apply flex justify-center w-full text-3xl mt-2 h-0 z-[999];
      }

    .Post {
        @apply flex flex-col w-full;
    }

    .AuthorPost {
      @apply text-2xl;
    }
    .TitlePost {
      @apply text-5xl;
    }
    .Description {
      @apply flex justify-center text-black text-5xl ;
    }

    .ContainerImg {
        @apply w-10/12 h-auto m-auto;
    }
    
    .PostList {
      @apply flex-col text-xl p-5 m-[60px_90px_80px] rounded-2xl bg-gradient-to-b from-zinc-100 to-pink-100;
    }
  }

    .About {
      @apply z-[999];
    }