.Comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: auto;
  margin: 0.4rem;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 0.5rem;
}

.Comment-author {
  color: blanchedalmond;
  letter-spacing: 0.1rem;
}

.Comment-date {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}