.Header {
  z-index: 1;
  position: fixed;
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  justify-content: end;
  align-items: center;
  letter-spacing: .3rem;
  background-color: rgba(0, 0, 0, 0.8);

}