.Author_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 90%;
  height: auto;
  top: 0.5rem;
  right: 1rem;
  gap: 0.3rem
}

.Navbar_Container {
  display: flex;
  position: relative;
  gap: 0.5rem
}

.DeleteButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 1.6rem;
  margin-top: 0.5rem;
}

.EditButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 1.6rem;
  margin-top: 0.5rem;
}

.NavButton {
  font-size: 1.5rem;
  cursor: pointer;
}

.NavButton:hover {
  color: var(--second-color);
}

.fa-solid.fa-bars {
  color: white;
}

.fa-bars-staggered {
  color: black;

}