.Article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.Article .AuthorTitle {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.Article .PostTitle {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  color: whitesmoke;
  width: 100%;
  border-bottom: 2px solid white;
}

.Article .Likes>sub {
  font-size: 1.2rem;
  margin-left: 0.3rem;
  color: rgb(156, 221, 57);
}

.Article .Likes {
  transition: transform 0.5s ease-out;
}

.Article .Likes:hover {
  color: greenyellow;
  transform: translateY(7px);
}