time {
  display: flex;
  font-size: 1.3rem;
  color: black;
  min-width: 8rem;
}

.TimeLike {
  display: flex;
  width: auto;
  user-select: none;

}

.fa-heart {
  color: red;
  font-size: 1rem;
  cursor: pointer;
}