.Login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: var(--fifth-color);
}

.Login-formall {
    background-color: rgb(163, 182, 195);
    border-radius: 20px;
    width: 300px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.653);
    padding: 20px;
    text-align: center;
}

.Login-Title {
    text-align: center;
    font-size: 70px;
    color: var(--first-color);
    margin-bottom: 30px;
}

.Login-input {
    text-align: center;
    width: calc(100% - 20px);
    height: 40px;
    margin: 15px 0;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.653);
    border: none;
    padding: 0 10px;
    border-radius: 5px;
}

.Link {
    display: block;
    margin-top: 10px;
    color: var(--first-color);
    text-decoration: underline;
}

.Login-button {
    background-color: var(--first-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}